@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&family=Indie+Flower&family=Quicksand&display=swap');
.App {
  text-align: center;
  border: solid 3px #9C0000;
  background: #f1f1f1;
  border-radius: 10px;
}

.title {
  border: solid 3px grey;
  margin: 2rem 5rem;
  background: white;
  border-radius: 7.5px;
}

.asa {
  font-family: 'Amatic SC', cursive;
  font-size: 68px;
  font-weight: bold;
}

.red {
  color: #9C0000;
  font-weight: bold;
}

.red:hover {
  color: #9C0000;
}


p {
  font-family: 'Architects Daughter', cursive;
  margin: 0;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.square {
  border: 2px solid black;
  background: #fee;
  min-height: 180px;
  height: 20vh;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  font-size: 16px;
}

footer {
  height: 100%;
  padding: 0;
}

footer p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px
}

textarea {
  max-width: 100%;
  text-align: center;
  overflow: scroll;
  font-family: 'Quicksand', sans-serif;
}

.clicked {
  background: #faa
}

.clicked p {
  text-decoration: line-through;
}

@media(max-width: 650px) {
  .App {
    margin: 0;
  }
  .square {
    font-size: 10px;
    min-height: 150px;
    height: 150px;
    border: 1px solid black;
  }
  .title {
    margin: 0;
    border: none;
    background: transparent;
  }
  .asa {
    font-size: 48px;
}
}

::-moz-selection {
  text-shadow: none;
  background: #9C0000;
  color: white;
}

::selection {
  text-shadow: none;
  background: #9C0000;
  color: white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}